/* Selecting the font for the page */
body {
    font-family: 'Lato', sans-serif;
}

/* Styling the Header section */

/* styling the background */
.header {
    background-color: #E554731A;
}

.banner {
    display: flex;
    align-items: center;
    gap: 97px;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
}

/* styling the text */
.banner-text {
    max-width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    /* word-wrap: break-word; */
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* styling the button */
.button {
    border: none;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E55473;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 147px;
}

/* styling the image */
.header-image {
    padding: 50px 240px 0px 0px;
    width: 600px;
}

/* Styling the Main section */
main .featured,
main .services,
main .social,
main .deals,
main .reviews {
    max-width: 1440px;
    margin: 128px auto;
}



/* styling the featured section */
.featured {
    margin: 178px 240px;
}

/* styling the text */
.featured-text {
    text-align: center;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 100px;
}

/* styling the images */
.featured-flowers {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    text-align: center;
    text-decoration: underline;
}

#flower1,
#flower2,
#flower3 {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 32px;
}

#flower1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
}

#flower2 {
    background: rgba(5, 150.70, 160, 0.15);
    padding: 117px 47px 51px;
}

#flower3 {
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}

/* styling the services section */
.services {
    display: flex;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    padding: 200px 0;
    /* margin: 130px 0px; */
}

.service-list {
    gap: 100px;
    text-align: center;
}

.service-list figcaption {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* styling the discount section */
.discount {
    background-color: #E554731A;
    padding: 130px 0;
}

.discount-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: px;
}

.discount-text {
    text-align: center;
    padding: 30px 50px;
    margin-left: 200px;
    max-width: 500px;
}

.discount-image {
    /* padding: 100px 429px 100px 186px; */
    width: 200px;
}

/* styling the social section */
.social {
    text-align: center;
    margin: 178px 240px 195px;
}

/* styling the images */
.social-images {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* styling the deals section */
.deals {
    text-align: center;
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    padding: 140px 0;
    background-repeat: no-repeat;
}

/* styling the input */
.input-container {
    gap: 10px;
}

.deal-input {
    background: white;
    border-radius: 8px;
    width: 700px;
    height: 64px;
    /* padding: 264px 453px 121px 287px; */
}

.deal-input {
    /* text-align: center; */
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    padding-left: 22px;
    border: none;
    margin-right: 16px;
}

/* styling the reviews section */
.review-container {
    margin: 0;
}

/* Styling the Footer section */
.footer {
    background: #111010;
    padding: 300px 300px;
}

.footer-container {
    text-align: center;
    justify-content: space-around;
}

/* styling the texts */
.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}